[Unit]
Description=Service for update firefox
Documentation=https://github.com/4815162342lost/firefox_autoupdate
After=network.target network-online.target systemd-networkd.service NetworkManager.service connman.service

[Service]
Type=oneshot
ExecStart=/opt/firefox/firefox_update.py
KillMode=process
KillSignal=SIGINT
RestartSec=15s
Restart=no
User=root
Group=root
StandardOutput=journal
StandardError=journal
Environment="PYTHONUNBUFFERED=on"
Environment="DISPLAY=:1"

[Install]
WantedBy=multi-user.target
